.helper-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #0c0c0c;
  color: #00ff99;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  z-index: 999999;
  font-weight: bold;
}
